<div class="login-mobile">
	<h1 id="logo">Log In</h1>

  <%= form_for @user, {url: auths_path } do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %><br />
    <%= f.label :password %>
    <%= f.password_field :password %><br />
    <%= f.submit 'Login', class: "button fave-buy-btn"  %>
  <% end %>
</div>
