<h1>Auths#new</h1>
<p>Find me in app/views/auths/new.html.erb</p>

<div id="login">
  Login
  <%= form_for @user, {url: auths_path } do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %><br />
    <%= f.label :password %>
    <%= f.password_field :password %><br />
    <%= f.submit 'Login'  %>
  <% end %>
</div>
