<h1>Log In</h1>

<div id="login">
  <%= form_for @user, {url: auths_path } do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %><br />
    <%= f.label :password %>
    <%= f.password_field :password %><br />
    <%= f.submit 'Login'  %>
  <% end %>
</div>
