<h1 class="play"><%= @items.first.category.name.upcase %></h1>
 <div class="row">
 		<div class="deckcontainer">
	    <div class="large-12 small-12 columns" id="itemdeck">
	      <% url = @items.first.click_url %>
        <% image = @items.first.photo %>
        <%= link_to image_tag(image) , url %> 
	      <br>
	    </div>

	    <div id="product-details">
	    	<%= @items.first.name %>
	    	<br>
        <%= @items.first.price %>
      </div>

	  </div>

		<div class="large-12 small-12 columns" id="likebar">
 	 		<%= link_to "Dislike", items_path(cat: params[:cat], price: params[:price], is_like: false), class: "button", method: 'post' %>
 	 		<%= link_to "Buy Now", url, class: "button" %>
 			<%= link_to "Love", items_path(cat: params[:cat], price: params[:price], is_like: true), class: "button", method: 'post' %>
    </div>
  </div>