<div class="home">

<div class="section">

  <div class="show-for-medium-up">
    <div class="row">
      <div class="large-3 columns">
        <h1 id="logo">STYLELUST</h1>
      </div>
    </div>
  </div>  


  <h1 class="show-for-small-only" id="logo-small">STYLELUST</h1>
<!-- End Header -->
 
<!-- First Band (Weekend Update) -->

  <div id="front-image">


    <% if !current_user %>
    <div class="front">
      <%= link_to "SIGN UP NOW", new_user_path, class: "button", id: "signup" %>
      <%= link_to "SIGN IN", new_auth_path, class: "button", id: "signin" %>
    </div>
    <% end %>
  </div>





<!-- First Band (OG) -->
<!-- <div class="show-for-medium-up">
  <div id="b">
    <%#= image_tag("girl2.png", class: "girl2") %>
    <p class="banner">
      Get ridiculously good looking<br>
      with our Top trends & Best deals.
    </p>
    <#% if !current_user %>
    <div class="front">
      <%#= link_to "SIGN UP NOW", new_user_path, class: "button", id: "signup" %>
      <%#= link_to "SIGN IN", new_auth_path, class: "button", id: "signin" %>
    </div>
    <#% end %>
  </div>

</div> -->


<!-- Three-up Content Blocks -->
<div class="row">

  <div class="large-4 columns">
    <div data-tooltip data-options="disable_for_touch:false" title= "Discover new fashion styles and trends from the hottest brands.">
      <%= image_tag("discover.svg", class: "front-icons") %>
      <h4>Discover</h4>
    </div>
  </div>

  <div class="large-4 columns">
    <div data-tooltip data-options="disable_for_touch:false" title= "Share your lookbooks with your friends on Facebook or Instagram.">
      <%= image_tag("share.svg", class: "front-icons") %>
      <h4>Share</h4>
    </div>
  </div>

  <div class="large-4 columns">
    <div data-tooltip data-options="disable_for_touch:false" title= "Buy your favorite items from hundreds of brands in one location.">
      <%= image_tag("shop.svg", class: "front-icons") %>
      <h4>Shop</h4>
    </div>
  </div>
  
</div>

<hr id="cta" />
<% if current_user %>
            
  <%= link_to items_path do %>
<div id="explore">Explore Now</div><% end %>
<% else %>
  <%= link_to new_auth_path do %>
<div id="explore">Explore Now</div><% end %>
<% end %>


<!-- Hot Now -->


<!-- Three-up Content Blocks -->

<%=link_to hotPicks_path do %>


<h1 id="logo">HOT NOW</h1>
<div class="row" id="hotnow"></div>

<%end%>

</div>



<script id="hotnow-template" type="text/x-handlebars-template">
  {{#each items}}
    <a href="{{click_url}}">
      <div class="large-4 columns hotnow">
        <img src="{{image_url}}" class="desaturate" />
        <h5>{{name}}</h5>
      </div>
    </a>
  {{/each}}
</script>
<script type="text/javascript">
  $(function() {
    loadHotPicks3();
  });
</script>

</div>
