<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar show-for-small">
      <section class="left-small">
        <%= image_tag("menu.png", class: "menu left-off-canvas-toggle" ) %>
        <!-- <a class="left-off-canvas-toggle menu-icon" ><span></span></a> -->
      </section>

      <section class="middle tab-bar-section">
        <%= link_to root_path do %>
          <h1 class="title">StyleLust</h1>
        <% end %>
      </section>     
    

    <section class="right-small">
          <%= image_tag("user.svg", class: "user right-off-canvas-toggle") %>
      </section>
    </nav>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
      	<% if current_user %>
      	<li><a><% if !!current_user.image %><%= image_tag current_user.image, size: '80' %><% end %></a></li>
      	<li><a><%= current_user.first_name %> </a></li>
      	<li><a><%= current_user.email %></a></li>
      	<li><%= link_to "Logout", signout_path, id: "sign_out" %></a></li>
      	<% else %>
        <li><label>StyleLust</label></li>
      	<li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "#sign_in" %></li>
      	<li><%= link_to "Sign In", new_auth_path %></li>
      	<li><%= link_to "Sign Up", new_user_path %></li>
      	<% end %>
      </ul>
    </aside>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>StyleLust</label></li>
        <% if current_user %>

        <li><%= link_to root_path do %>Home</li>
        <% end %>
        <li><%= link_to likedItems_path do %>Favorites</li>
        <% end %>
      
        <li>
          <dl class="accordion" data-accordion>
            <dd>
              <a href="#panel1" id="settings">Shop</a>
              <div id="panel1" class="content">

                  <%= render partial: 'items/shopsettings' %>

                </div>
            </dd>
          </dl>

        </li>


        <% else %>
        <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "#sign_in" %></li>
        <li><%= link_to "Sign In", new_auth_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
    </aside>

    <section class="main-section">


      <%= yield %>


    </section>

  <a class="exit-off-canvas"></a>

    <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p class="footer">© 2014 StyleLust. All Rights Reserved.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#" class="footer">About</a></li>
            <li><a href="#" class="footer">API</a></li>
            <li><a href="#" class="footer">Contact</a></li>
            <li><a href="#" class="footer">Terms</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

  </div>
</div>